@charset "utf-8";
/* CSS Document */

body { 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:0.9em;
	background-color: #E2E2E2;
	text-align: center;
}

#page_wrapper { 
	width: 90%; 
	background-color:white;
	padding: 20px;
	margin: auto;
	text-align: center;
	border: double;
	border-color: #A1D5D9;
}

h1 { 
	font-family: arial;
	color:#69DAEC;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

#next {
	margin-right: 20px;
}

#back {
	margin-right: 5px;
}

img {
	width: 25%;
	background-color: #A1D5D9;
	border: solid 0.1em #999;
	padding: 20px;
	margin-top: 10px;
}

#result2 {
	text-align: center;
}

#button {
	margin: auto;
}

#blurb {
	width: 50%;
	margin: auto;
	text-align: center;
}

#code {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	text-align: left;
	line-height: 20px;
	background-color: #A1D5D9;
	padding: 10px;
	overflow: hidden;
}