@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lobster);

* { box-sizing: border-box; }

.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

body {
	background: #BBB;
}

.navi {
	margin: 0px;
	padding-left: 3%;
	padding-top: 4%
}

.nav_link_a {
	display: inline-block;
	color: #FFF;
	font-family: Verdana;
	font-size: 12px;
	font-weight: 600;
	padding-right: 5px;
	background: #555;
	padding: 7px;
	border-radius: 5px 0px 0px 5px;
}

.nav_link_b {
	display: inline-block;
	color: #FFF;
	font-family: Verdana, Geogria;
	font-size: 12px;
	font-weight: 600;
	padding-right: 5px;
	background: #555;
	padding: 7px;
	border-radius: 0px;
}

.nav_link_c {
	display: inline-block;
	color: #FFF;
	font-family: Verdana, Geogria;
	font-size: 12px;
	font-weight: 600;
	padding-right: 5px;
	background: #555;
	padding: 7px;
	border-radius: 0px 5px 5px 0px;
}

.navi a {
	text-decoration: none;
	color: #FFF;
}

.archive {
	position: absolute;
	float: right;
  	right: 10px;
  	width: 200px;
  	height: 300px;
  	padding: 50px 10px 10px;
}

.arch_list {
	list-style-type: none;
	text-align: left;
	padding: 0;
	margin-top: 8px;
	font-family: Verdana;
	font-size: 13px;
	line-height: 17px;
}

.arch_list a {
	text-decoration: none;
	color: #09F;
}

h1 {
	font-family: 'lobster';
	font-size: 60px;
	font-weight: 500;
	margin: 3%;
	color: #BBB;
}

h2 {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 28px;
}

h3 {
	margin-bottom: 20px;
	margin-top: 6px;
}

h4 {
	margin: 0;
	font-family: Verdana;
	font-size: 13px;
	color: #555;
}

.main_body {
	background: #FFF;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.40); 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.40); 
	box-shadow:0 0 20px rgba(0,0,0,0.40);
}

.inner_context {
	padding-left: 3%;
}

p {
	width: 55%;
	font-family: Georgia, serif;
	font-size: 12px;
	line-height: 17px;
	color: #222;
}

.subhead {
	font-family: Verdana;
}

.subhead a {
	text-decoration: none;
	color: #09F;
}

.caption {
	width: 200px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #DCDCDC;
	float: right;
	margin: 5px 545px 5px 10px;
	position: relative;
}

.caption p {
	font-size: 17px;
	line-height: 23px;
	width: 100%;
	color: #555;
}


.edited {
	color: #B5B5B5;
	font-size: 10px;
}

.cat_image {
	width: auto;
	background: #DCDCDC;
	float: right;
	margin: 5px 545px 5px 10px;
}

.cats {
	vertical-align: bottom;
	width: 100%;
	height: auto;
	padding: 10px;
}

.foot {
	margin: 3%;
	padding-bottom: 20px;
}